{% extends 'base.html' %}

{% block title %}Add Feedback{% endblock %}

{% block content %}
    {% if session['user_id'] == user.username %}
            <form method="POST">
                {{ form.hidden_tag() }}
                <h2>Tell Us Your Feedback:</h2>
                {% for field in form 
                    if field.widget.input_type != 'hidden' %}
                <p> 
                    {{field.label}}
                    {{field}}

                    {% for error in field.errors %}
                        {{error}}
                    {% endfor %}
                </p>
                {% endfor%}
                <button type="submit">Submit Feedback</button>
            </form>
    {% else %}
            <h2>You must be logged in as this user to submit feedback for them.</h2>
    {% endif %}
{% endblock %}